USE [master]
GO
/****** Object:  Database [combine]    Script Date: 07/06/2026 19:10:33 ******/
CREATE DATABASE [combine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'combine', FILENAME = N'C:\Users\SUPER_PLOTVA\combine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'combine_log', FILENAME = N'C:\Users\SUPER_PLOTVA\combine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [combine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [combine]
GO
/****** Object:  Table [dbo].[Components]    Script Date: 07/06/2026 19:10:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Components](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[component_name] [nvarchar](50) NULL,
	[code] [nvarchar](50) NULL,
	[price] [decimal](10, 2) NULL,
	[type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Components] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 07/06/2026 19:10:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[id] [nvarchar](20) NOT NULL,
	[name] [nvarchar](100) NULL,
	[inn] [nvarchar](50) NULL,
	[addres] [nvarchar](100) NULL,
	[phone] [nvarchar](12) NULL,
	[salesman] [bit] NULL,
	[buyer] [bit] NULL,
 CONSTRAINT [PK_Manufacturers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 07/06/2026 19:10:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[buyer_id] [nvarchar](20) NULL,
	[quentity] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 07/06/2026 19:10:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](50) NULL,
	[code] [nvarchar](50) NULL,
	[price] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsComponents]    Script Date: 07/06/2026 19:10:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsComponents](
	[product_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[components_quentity] [decimal](10, 2) NULL,
 CONSTRAINT [PK_ProductsComponents] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07/06/2026 19:10:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](25) NULL,
	[password] [nvarchar](16) NULL,
	[manufacturer_id] [nvarchar](20) NULL,
	[isActive] [bit] NULL,
	[Role] [nvarchar](6) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Components] ON 

INSERT [dbo].[Components] ([id], [component_name], [code], [price], [type]) VALUES (1, N'Молоко нормализованное', N'НФ-00000004', CAST(10.00 AS Decimal(10, 2)), N'кг')
INSERT [dbo].[Components] ([id], [component_name], [code], [price], [type]) VALUES (2, N'Закваска сметанная', N'НФ-00000005', CAST(40.00 AS Decimal(10, 2)), N'кг')
SET IDENTITY_INSERT [dbo].[Components] OFF
GO
INSERT [dbo].[Customers] ([id], [name], [inn], [addres], [phone], [salesman], [buyer]) VALUES (N'000000001', N'ООО "Поставка"', N'', N'г.Пятигорск', N'+79198634592', 1, 1)
INSERT [dbo].[Customers] ([id], [name], [inn], [addres], [phone], [salesman], [buyer]) VALUES (N'000000002', N'ООО "Кинотеатр Квант"', N'26320045123', N'г. Железноводск, ул. Мира, 123', N'+79884581555', 1, 0)
INSERT [dbo].[Customers] ([id], [name], [inn], [addres], [phone], [salesman], [buyer]) VALUES (N'000000003', N'ООО "Ромашка"', N'4140784214', N'г. Омск, ул. Строителей, 294', N'+79882584546', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [order_id], [product_id], [buyer_id], [quentity]) VALUES (1, 1, 1, N'000000002', 12)
INSERT [dbo].[Orders] ([id], [order_id], [product_id], [buyer_id], [quentity]) VALUES (2, 1, 2, N'000000002', 9)
INSERT [dbo].[Orders] ([id], [order_id], [product_id], [buyer_id], [quentity]) VALUES (3, 1, 3, N'000000002', 10)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [product_name], [code], [price]) VALUES (1, N'Кефир 2,5% 900г.', N'НФ-00000007', CAST(80.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([id], [product_name], [code], [price]) VALUES (2, N'Кефир 3,2% 900г.', N'НФ-00000008', CAST(82.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([id], [product_name], [code], [price]) VALUES (3, N'Молоко 2,5% 900г.', N'НФ-00000009', CAST(79.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[ProductsComponents] ([product_id], [component_id], [components_quentity]) VALUES (4, 1, CAST(0.90 AS Decimal(10, 2)))
INSERT [dbo].[ProductsComponents] ([product_id], [component_id], [components_quentity]) VALUES (4, 2, CAST(0.07 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [login], [password], [manufacturer_id], [isActive], [Role]) VALUES (1, N'user1', N'user1', N'000000003', 1, N'client')
INSERT [dbo].[Users] ([id], [login], [password], [manufacturer_id], [isActive], [Role]) VALUES (2, N'admin1', N'admin1', NULL, 1, N'admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Manufacturers] FOREIGN KEY([buyer_id])
REFERENCES [dbo].[Customers] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Manufacturers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Products]
GO
ALTER TABLE [dbo].[ProductsComponents]  WITH CHECK ADD  CONSTRAINT [FK_ProductsComponents_Components] FOREIGN KEY([component_id])
REFERENCES [dbo].[Components] ([id])
GO
ALTER TABLE [dbo].[ProductsComponents] CHECK CONSTRAINT [FK_ProductsComponents_Components]
GO
ALTER TABLE [dbo].[ProductsComponents]  WITH CHECK ADD  CONSTRAINT [FK_ProductsComponents_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[ProductsComponents] CHECK CONSTRAINT [FK_ProductsComponents_Products]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Manufacturers] FOREIGN KEY([manufacturer_id])
REFERENCES [dbo].[Customers] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Manufacturers]
GO
USE [master]
GO
